sonata_admin:
    title: 'Admin'
    dashboard:
        blocks:
            - { type: sonata.admin.block.admin_list, position: left }
        groups:
            administration:
                label: Website
                icon: '<i class="fa fa-cogs" aria-hidden="true"></i>'
                items:
                    - app.admin.home
                    - app.admin.menu
                    - app.admin.page
                roles: [ ROLE_ADMIN ]
            translation:
                label: Contents
                icon: '<i class="fa fa-random" aria-hidden="true"></i>'
                items:
                    - app.admin.translate.menu
                    - app.admin.translate.home
                    - app.admin.translate.page
                    - app.admin.translate.media
                roles: [ ROLE_ADMIN ]
            users:
                label: Users
                icon: '<i class="fa fa-user-secret" aria-hidden="true"></i>'
                items:
                    - sonata.user.admin.user
                    - sonata.user.admin.group
                roles: [ ROLE_ADMIN ]
            media:
                label: Media
                icon: '<i class="fa fa-picture-o" aria-hidden="true"></i>'
                items:
                    - sonata.media.admin.media
                    - sonata.media.admin.gallery
                roles: [ ROLE_ADMIN ]

    search: true
    options:
        html5_validate: true


    title_logo: bundles/sonataadmin/logo_title.png

    templates:
        edit: sonata/edit.html.twig

    assets:
        extra_stylesheets:
            - bundles/sonatatranslation/css/sonata-translation.css
        extra_javascripts:
            - assets/sonata/script.js
#            - bundles/pixsortablebehavior/js/jquery-ui.min.js
#            - bundles/pixsortablebehavior/js/init.js

sonata_block:
    blocks:
        sonata.admin.block.admin_list:
            contexts: [admin]
        sonata.admin.block.search_result:
            contexts: [admin]
