sonata_user:
    google_authenticator:
        enabled: true
        server:  192.168.3.167
        ip_white_list:
            - 192.168.3.167
        forced_for_role:
            - ROLE_SUPER_ADMIN
    security_acl: false
    impersonating:
        route: sonata_admin_dashboard
    manager_type: orm # can be orm or mongodb
#  mailer: custom.mailer.service.id
    table:
        user_group: "user__user_group"
    class:
        user: App\Application\Sonata\UserBundle\Entity\User
        group: App\Application\Sonata\UserBundle\Entity\Group
    admin:
        user:
            class: App\Application\Sonata\UserBundle\Admin\UserAdmin
#        group:
#            class:    Application\Sonata\UserBundle\Admin\Model\GroupAdmin