sonata_admin:
    security:
        handler: sonata.admin.security.handler.role

        role_admin: ROLE_ADMIN
        role_super_admin: ROLE_SUPER_ADMIN

    title: 'Admin'
    dashboard:
        blocks:
            - { type: sonata.admin.block.admin_list, position: left }
        groups:
            pages:
                label: 'app.admin.group.pages'
                label_catalogue: 'messages'
                icon: '<i class="fa fa-newspaper-o" aria-hidden="true"></i>'
                items:
                    - cms.admin.page
                    - cms.admin.content.page
            navigate:
                label: 'app.admin.group.navigate'
                label_catalogue: 'messages'
                icon: '<i class="fa fa-map-signs" aria-hidden="true"></i>'
                items:
                    - cms.admin.menu
                    - cms.admin.content.menu
            resources:
                label: 'app.admin.group.resources'
                label_catalogue: 'messages'
                icon: '<i class="fa fa-picture-o" aria-hidden="true"></i>'
                items:
                    - app.admin.resources.category
                    - app.admin.resources.collection
                    - app.admin.resources.collection.content
                    - app.admin.resources.element
                    - app.admin.resources.element.content
                roles: [ ROLE_ADMIN ]
            datalist:
                label: 'app.admin.group.datalist'
                label_catalogue: 'messages'
                icon: '<i class="fa fa-list" aria-hidden="true"></i>'
                items:
                    - cms.admin.datalist
                roles: [ ROLE_ADMIN ]
            users:
                label: 'app.admin.group.users'
                label_catalogue: 'messages'
                icon: '<i class="fa fa-user-secret" aria-hidden="true"></i>'
                items:
                    - sonata.user.admin.user
                    - sonata.user.admin.group
                roles: [ ROLE_ADMIN ]
            media:
                label: 'app.admin.group.media'
                label_catalogue: 'messages'
                icon: '<i class="fa fa-picture-o" aria-hidden="true"></i>'
                items:
                    - cms.admin.media
#                    - sonata.media.admin.media
                    - sonata.media.admin.gallery
                roles: [ ROLE_ADMIN ]

    search: true
    options:
        html5_validate: true
        mosaic_background: '/path/to/image.png'

    title_logo: assets/sonata/img/logo_cms.png

    templates:
        edit: system/sonata/edit.html.twig
        outer_list_rows_tree: system/sonata/list_outer_rows_tree.html.twig

    assets:
        extra_stylesheets:
            - assets/sonata/style.css
            - bundles/sonatatranslation/css/sonata-translation.css
        extra_javascripts:
            - assets/sonata/script.js

sonata_doctrine_orm_admin:
    templates:
        form: ["system/sonata/form_admin_fields.html.twig"]

sonata_block:
    blocks:
        sonata.admin.block.admin_list:
            contexts: [admin]
        sonata.admin.block.search_result:
            contexts: [admin]
