{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if object.parent.children[object.parent.children|length - 1].id != object.id %}
            <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('down', object) }}" title="Move down">
                <i class="fa fa-angle-down"></i>
            </a>
        {% endif %}
    {% endspaceless %}
{% endblock %}